---
- name: Set ngrok_executable variable to a default if not defined
  set_fact:
    ngrok_executable: ngrok
  when: ngrok_executable is not defined

- name: Check if ngrok is installed
  stat: "path={{ ngrok_install_path }}"
  register: ngrok_bin

- name: Download ngrok
  get_url:
    url: "{{ ngrok_download_url }}"
    dest: /tmp/ngrok.zip
  when: not ngrok_bin.stat.exists

- name: Getting ngrok
  unarchive:
    src: /tmp/ngrok.zip
    dest: /tmp
    creates: path=/tmp/ngrok
    remote_src: yes
  when: not ngrok_bin.stat.exists

- name: Install ngrok
  copy:
    src: /tmp/ngrok
    dest: "{{ ngrok_install_path }}"
    mode: "u=rwx,g=rx,o=rx"
    owner: "{{ ngrok_bin_owner }}"
    group: "{{ ngrok_bin_group }}"
    remote_src: yes
  when: not ngrok_bin.stat.exists

- name: Remove no longer needed ngrok files
  file: path=/tmp/ngrok.zip state=absent
  when: not ngrok_bin.stat.exists
